<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ablingbling.library.logger" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <activity
            android:name=".ui.DebugLogManagerActivity"
            android:label="日志管理"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.DebugLogSourceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.DebugLogsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>

</manifest>
